:root{

    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dart: #0b2447;
    --color-bg: #739fdb;
    /* --color-bg: #04152d; */
    /* --color-bg: #52524ffd; */

    --font-roboto: "Roboto";

}